.frequently-question {
  padding: 100px 0px;
  /* margin-bottom: 81px; */
  background: #f4f4f4;
  padding-left: 50px;
}
.frequently-question {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.frequently-question-leftcol {
  width: 580px;
}
.frequently-question-heading {
  width: 308px;
  margin-bottom: 50px;
}
.frequently-question-heading h6 {
  font-family: var(--heading-font);
  color: #1c1f35;
  background: #e8e8e880;
  width: 49px;
  padding: 3px 9px;
  border-left: 3px solid #ffda56;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.59px;
  text-align: left;
  margin-bottom: 15px;
  color: #1c1f35;
}
.frequently-question-heading h2 {
  font-family: var(--heading-font);
  font-size: 35px;
  font-weight: 600;
  line-height: 41.48px;
  text-align: left;
  color: #1c1f35;
}
.enquiry h6 {
  font-family: var(--heading-font);
  font-size: 20px;
  font-weight: 400;
  line-height: 23.7px;
  text-align: left;
  color: #1c1f35;
}
.enquiry p {
  padding-top: 18px;
  padding-bottom: 44px;
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 24.24px;
  text-align: left;
  color: #666c89;
  width: 400px;
}
.frequently-question-rightcol {
  position: relative;
}
.frequent-img {
  width: 100%;
}
.frequent-box {
  background: #091242;
  width: 400px;
  padding: 40px;
  position: absolute;
  top: 20px;
  right: 250px;
}
.frequent-box h5 {
  font-family: var(--heading-font);
  color: #1c1f35;
  background: #111c55;
  width: 80px;
  padding: 3px 8px;
  border-left: 3px solid #ffda56;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.59px;
  text-align: left;
  margin-bottom: 16px;
  color: #fff;
}
.frequent-box h3 {
  font-family: var(--heading-font);
  font-size: 20px;
  font-weight: 500;
  line-height: 23.7px;
  text-align: left;
  color: #fff;
  padding-top: 23px;
  padding-bottom: 20px;
}
.number-display {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: 230px;
  padding-bottom: 35px;
}
.number-display img {
  width: 20%;
}
.number-display p {
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 21.6px;
  text-align: left;
  color: #fff;
}
.contact-us1 {
  background: url("../../assets/explorebg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 19px 30px;
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 600;
  line-height: 21.6px;
  color: #23212a;
  text-align: center;
  border: none;
  cursor: pointer;
}
.bottom-img {
  margin-left: 200px;
  margin-top: 80px;
  margin-bottom: 80px;
}
.bottom-img img {
  width: 20%;
  transition: all 0.3s;
}
.bottom-img img:hover {
  transform: scale(1.1);
}

.accordion {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 0;
  overflow: hidden;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.accordion-content {
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.arrow {
  transition: transform 0.2s ease;
}

.arrow.open {
  transform: rotate(180deg);
}
