
.empty-div{
  background: url('../../assets/lloydbg1.jpg');
  height:647.44px;
  width:100%;
  background-repeat:no-repeat;
}
.why-us{
  margin-top:-450px;
  margin-left: 16px;
  margin-right: 16px;
  background: #fff;
  width:343px;
  padding-top: 8px;
  padding-left: 8px;


}
.why-us h4{
    font-family: var(--heading-font);
    color:#1C1F35;
    background: #E8E8E8;
    width: 45.24px;
    padding:1.99px 5.3px 1.99px 5.3px;
    border-left:3px solid  #FFDA56;
  font-size: 9.27px;
  font-weight: 400;
  line-height: 10.99px;
  text-align: left;
  
}
.why-us h1{
  font-family:var(--heading-font);
  font-weight:600;
  font-size:23.18px;
  line-height:27.46px;
  color:#1C1F35;
  padding-top:7.95px;
  padding-bottom:7.95px;
}
.why-us p{
  font-family: var(--text-font);
  color:#666c89;
  padding-bottom:8px;
font-size: 10.59px;
font-weight: 500;
line-height: 16.05px;
text-align: left;
}

.box{
  display:flex;
  align-items:center;
  gap:9.93px;
  padding-bottom:14.5px;
}
.box span{
  font-family: var(--heading-font);
  color:#1C1F35;
font-size: 16.55px;
font-weight: 400;
line-height: 19.62px;
text-align: left;
}
.airplane{
  padding-right:16px;
  padding-bottom: 8px;
}
.delivery-packages{
  padding-left: 11.97px;
  display:flex;
  align-items: center;
  border: 1px solid #D4D4D4;
  width:351.05px;
  margin-left: 16px;
  margin-bottom: 40px;
}
.deli-package p{
  font-family: var(--heading-font);
font-size: 24px;
font-weight: 600;
line-height: 28.44px;
text-align: left;
color: #1C1F35;
}
.satified p{
  font-family: var(--heading-font);
font-size: 24px;
font-weight: 600;
line-height: 28.44px;
text-align: left;
color: #1C1F35;
padding-top: 8px;
margin-left: 8px;
padding-left: 8px;
border-left: 1px solid #D4D4D4;

}
.deli-package span{
  font-family: var(--span);
  color: #1C1F35;
font-size: 11.06px;
font-weight: 400;
line-height: 10.17px;
text-align: left;
padding:0px 0px 0px 8.84px;
width: 78px;

}
.satified span{
  font-family: var(--span);
  color: #1C1F35;
  font-size: 11.06px;
  font-weight: 400;
  line-height: 10.17px;
  text-align: left;
  padding:0px 0px 0px 8.84px;
  width: 67px;
}