.empty-div {
  background: url("../../assets/lloydbg2.jpg");
  height: 310px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.why-us {
  margin-top: -80px;
  margin-left: 50px;
  margin-right: 50px;
  background: #fff;
  padding-top: 85px;
  padding-left: 86px;
  display:flex;
  flex-direction: row;
}
.why-us h4 {
  font-family: var(--heading-font);
  color: #1c1f35;
  background: #e8e8e8;
  width: 68px;
  padding: 3px 8px;
  border-left: 3px solid #ffda56;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.59px;
  text-align: left;
}
.why-us h1 {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 35px;
  line-height: 41.48px;
  color: #1c1f35;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 90%;
}
.why-us p {
  font-family: var(--text-font);
  color: #666c89;
  padding-bottom: 25px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24.24px;
  text-align: left;
  width:80%;
}
.box {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 14.5px;
}
.box span {
  font-family: var(--heading-font);
  color: #1c1f35;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.63px;
  text-align: left;
}
.padding{
  padding-bottom: 40px;
}
.delivery-flex{
  display: flex;
  flex-direction: row;
}
.airplane {
  padding-right: 0px;
  padding-bottom: 0px;
}
.airplane-2{
  display:none;
}
.delivery-packages{
  display:none;
}
.unknown2{
margin-left:100px;

}
.unknown{
  width:90%;
}


@media screen and (max-width: 500px) {
  .empty-div {
    height: 298px;
    background: url("../../assets/lloydbg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  }
  .why-us {
    display:flex;
    flex-direction: column;
    margin-top: -120px;
    margin-left: 16px;
    margin-right: 16px;
    background: #fff;
    width: 90%;
    padding-top: 8px;
    padding-left: 8px;
  }

  .why-us h4 {
    width: 45.24px;
    padding: 1.99px 5.3px 1.99px 5.3px;
    font-size: 9.27px;
    line-height: 10.99px;
  }
  .why-us h1 {
    font-size: 23.18px;
    line-height: 27.46px;
    padding-top: 7.95px;
    padding-bottom: 7.95px;
  }
  .why-us p {
    padding-bottom: 8px;
    font-size: 10.59px;
    line-height: 16.05px;
    font-weight: 500px;
    width:307.24px
  }
  .box {
    gap: 9.93px;
  }
  .box span {
    font-size: 16.55px;
    line-height: 19.62px;
  }
  .airplane {
    display:none;
  }
  .airplane-2{
    display:block;
  }
  .delivery-packages{
    display:block;
    margin:8px 11.97px;
  }
  .unknown{
    display:none;
  }
}
