.testimonial {
  padding-top: 98px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  width: 1000px;
}
.testimonial-1 h2 {
  color: #1c1f35;
  background: #e8e8e880;
  width: 97px;
  padding: 3px 9px;
  border-left: 3px solid #ffda56;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.59px;
  text-align: left;
  margin-bottom: 13px;
  color: #1c1f35;
}
.testimonial-1 h1 {
  font-family: var(--heading-font);
  font-size: 35px;
  font-weight: 600;
  line-height: 41.48px;
  text-align: left;
  color: #1c1f35;
}
.arrow {
  display: flex;
  gap: 9.46px;
  align-items: center;
  cursor:pointer;
}

.slider{
  overflow: hidden;
}
.slider ul{
  display:flex;
  overflow-x: hidden;
  transition: 0.5s;
  width: 200%;
}
.slider ul li{
  list-style: none;
  width:50%;
}
.slide{
  padding:30px;
  background: #F4F4F4;
  width:500px;
}
.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 24px;
  width: 45px;
}
.kath-smith {
  padding-left: 10px;
}
.kath-smith h3 {
  font-family: var(--heading-font);
  font-size: 16px;
  width: 148px;
  font-weight: 500;
  color: #091242;
  line-height: 15.3px;
  text-align: left;
  padding-bottom: 1.14px;
  padding-top: 10px;
}

.kath-smith span {
  font-family: var(--text-font);
  font-size: 12px;
  color: #091242;
  font-weight: 500;
  line-height: 24.24px;
  text-align: left;
}
.dot {
  margin-left: 200px;
}
.testimonial-text {
  font-family: var(--text-font);
  font-size: 16px;
  color: #666c89;
  width: 450px;
  font-style: italic;
  font-weight: 500;
  line-height: 24.24px;
  text-align: left;
  padding-bottom: 18.29px;
}

.testimonial-3 {
  background: #091242;
}
.john-martin h3 {
  font-family: var(--heading-font);
  font-size: 16px;
  width: 148px;
  font-weight: 500;
  color: #fff;
  line-height: 15.3px;
  text-align: left;
  padding-bottom: 1.14px;
  padding-top: 10px;
}

.john-martin span {
  font-family: var(--text-font);
  font-size: 12px;
  color: #fff;
  font-weight: 500;
  line-height: 24.24px;
  text-align: left;
}
.john-martin{
  padding-left: 10px;
}
.testimonial-text-leve {
  font-family: var(--text-font);
  font-size: 16px;
  color: #fff;
  width: 450px;
  font-style: italic;
  font-weight: 500;
  line-height: 24.24px;
  text-align: left;
  padding-bottom: 18.29px;
}

@media screen and (max-width: 500px) {
  .testimonial {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 343px;
    font-family: var(--heading-font);
  }
  .testimonial-1 h2 {
    width: 79.09px;
    padding: 2.58px 2.4px 3.19px 7.74px;
    font-size: 7.8px;
    line-height: 9.24px;
    margin-bottom: 7.71px;
  }
  .testimonial-1 h1 {
    font-size: 19.49px;
    line-height: 23.1px;
  }
  .testimonial-2 {
    padding: 35.44px 41.16px;
    width: 343px;
  }
  .image-1 {
    padding-bottom: 13.72px;
  }
  .kath-smith {
    padding-left: 5.72px;
    padding-top: 11.44px;
  }
  .kath-smith h3 {
    font-size: 11.43px;
    line-height: 13.55px;
    padding-bottom: 1.14px;
  }
  .kath-smith p {
    font-size: 9.15px;
    line-height: 13.86px;
  }
  .dot {
    margin-left: 76.6px;
  }

  .testimonial-text {
    font-family: var(--text-font);
    font-size: 9.15px;
    color: #666c89;
    width: 260.68px;
    font-style: italic;
    font-weight: 500;
    line-height: 13.86px;
    text-align: left;
    padding-bottom: 18.29px;
  }

  .testimonial-3 {
    padding: 35.44px 41.16px;
    background: #091242;
    width: 343px;
  }
  .slider{
    overflow: hidden;
  }
  .slider ul{
    display:flex;
    overflow-x: hidden;
    transition: 0.5s;
    width: 200%;
  }
  .slider ul li{
    list-style: none;
    width:50%;
  }
  .slide{
    padding:30px;
    background: #F4F4F4;
    width:500px;
  }
  
}
